Apkz Update Information File
2.3.2 {
description {fix: PNG최적화 디버그메시지로 변경
간단모드에 프레임워크 설치와 디컴파일 통합}
downloadurl http://db.tt/6gFUairz
filename "ApkZipper v2.3.2 beta.exe"
distgrade beta}

2.3.1 {
description {fix: 디오덱스 중 일부 멎는 현상 수정}
downloadurl http://db.tt/BtwefpI1
filename "ApkZipper v2.3.1 beta.exe"
distgrade beta}

2.3 {
description {add: 레이아웃 추가
add: 버그리포트 기능 추가
update: baksmali/smali v2.0b4 -> v2.0b5
...}
downloadurl http://db.tt/miDhvPYx
filename "ApkZipper v2.3 beta.exe"
distgrade beta}

2.2 {
description {add: 디오덱싱 기능 추가
add: 메시지 색깔 구분 추가
add: 자바소스 보기 추가
이전버전의 설정파일을 지우려면 apkz.cfg를 찾아서 삭제해주세요.}
downloadurl http://db.tt/TfBxEY8l
filename "ApkZipper v2.2 beta.exe"
distgrade beta}

2.1 {
description {add: 히스토리 기능 강화
add: 앱이 있는 폴더 열기 기능 추가
add: 몇 개 에러메시지 설명 추가
...}
downloadurl http://db.tt/rHmckhMC
filename "ApkZipper v2.1 beta.exe"
distgrade beta}

2.0 {
description "미흡한 부분이 많습니다..."
downloadurl http://db.tt/ekgIbJGs
filename "ApkZipper v2.0 beta.exe"
distgrade beta}

